
@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <h3 style="text-align:center">TTPHONE - ỨNG DỤNG MUA SẮM THÔNG MINH</h3>

    <p>Website mua sắm, kết nối người mua và người bán cả nước. Với mong muốn phục vụ nhu cầu mua sắm trực tuyến cho tất cả người tiêu dùng trên khắp Việt Nam, ứng dụng Sendo có mọi thứ bạn cần, không chỉ giúp bạn sở hữu được những sản phẩm yêu thích với giá hợp túi tiền mà còn đem đến sự yên tâm và tiện lợi nhất khi mua sắm trực tuyến, mang lại cuộc sống đầy đủ hơn.</p>

    <hr />

    <h3 style="text-align:center">SIÊU NHIỀU HÀNG HÓA</h3>

    <p>Ứng dụng TTPHONE mang đến bạn kho hàng siêu khủng với 29 ngành hàng thiết yếu, hơn 10 triệu sản phẩm từ cộng đồng shop lớn nhất Việt Nam với hơn 200.000 shop cho bạn thoả thích chọn mua.</p>

    <hr />

    <h3 style="text-align:center">MIỄN PHÍ ĐỔI TRẢ 48H</h3>

    <p>Bạn có thể yêu cầu đổi hoặc trả hàng trong vòng 48 tiếng đồng hồ kể từ khi nhận hàng nếu sản phẩm không đúng mô tả để chúng tôi bảo vệ quyền lợi mua sắm của bạn</p>

    <hr />

    <h3 style="text-align:center">MIỄN PHÍ VẬN CHUYỂN TOÀN QUỐC</h3>

    <p>miễn phí vận chuyển toàn quốc để khách hàng thuận tiện hơn khi mua sắm. Mỗi đơn hàng chỉ cần có giá trị thanh toán từ 150.000 VNĐ trở lên sẽ được Miễn phí vận chuyển, với mức hỗ trợ tối đa 50.000VNĐ/ đơn hàng, áp dụng trên toàn quốc với tất cả các gói cước của tất cả các nhà vận chuyển.</p> 
    
    <hr />

    <h3 style="text-align:center">SIÊU NHIỀU SỰ KIỆN VÀ KHUYẾN MÃI</h3> 

    <p>Trên ứng dụng Sendo luôn ngập tràn các sự kiện và khuyến mãi hấp dẫn, giảm giá khủng, flash sale giá sốc để bạn thỏa mãn nhu cầu mua sắm mỗi ngày với giá hợp túi tiền.</p>
</div>

