
@{
    ViewBag.Title = "Dat Hang";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<hr />
<div style="text-align:center">
    <p class="text-danger">@ViewBag.thongbao</p>
    <p>Bạn có thể @Html.ActionLink("quay lại trang chủ","Index","WebHome")</p>
</div>
<hr />
