@{
    ViewBag.Title = "Trang chủ Admin";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Html.ActionLink("Đăng xuất", "Index", "AdminLogin")</h2>
<h2>Chào mừng đến với Admin <a href="~/WebHome/Index">TTPHONE</a></h2>
<p>Đây là trang quản trị của TTPHONE</p>