body {
}


@font-face {
    font-family: robotolight;
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: robotomedium;
    src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: robotoblack;
    src: url(fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: robotoregular;
    src: url(fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.tintuc h2 {
    margin-top: 0px;
}

.sanpham1 a {
    color: white;
    text-transform: uppercase;
}

img.oto {
    height: 40px;
}

.row.banner1 {
    padding: 22px 0px;
}

.container-fluid.banner {
    background-color: white;
}

ul {
    list-style-type: none;
}

hr.hrtensp {
    /* size: ; */
    border: 1px solid black;
}

.sanpham h2 {
    margin-top: 0px;
}

.row.watch-all {
    background-color: #337ab7;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
}

a.btn.btn-primary {
    width: 100px;
    margin-right: 20px;
    border-radius: 20px;
    text-transform: uppercase;
}

.sanpham p {
    margin-top: 10px;
}

span.regular-price {
    text-decoration: line-through;
    padding-left: 60px;
}

span.sale-price {
    color: red;
    float: left;
}

.row.sanphamtt {
    text-align: center;
}

.thumbnail {
    border: 0px;
}

a.btn.btn-default {
    width: 100px;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: cadetblue;
}

.row.tensp {
    text-align: center;
    margin: 15px 0px;
}

.row.sanpham1 {
    text-align: center;
    margin-top: 30px;
}

/* copy */
.header ul li a {
    color: black;
}

.header ul li {
    display: inline-block;
    padding: 0px 20px;
    text-transform: uppercase;
    font-size: 20px;
}

.header ul {
    list-style-type: none;
    text-align: center;
    margin-bottom: 0px;
}

h1.logo {
    color: black;
    font-size: 50px;
    margin-top: 10px;
}

.footer .logo {
    text-align: center;
}

.row.dangnhap {
    margin-top: 13px;
    background-color: gray;
    padding: 7px;
    margin-right: 90px;
    height: 40px;
}

input .form-control {
    height: 50px;
    margin-top: 10px;
    float: right;
}


#form-control1 {
    height: 50px;
    margin-top: 10px;
    float: right;
}

.container.header {
    padding: 16px 0px;
}

body {
    font-family: robotoregular;
}

.row.giohang {
    text-align: center;
    background-color: gray;
    padding: 10px;
    margin: 0px 30px;
    margin-top: 0px;
    margin-top: 14px;
}

span.glyphicon.glyphicon-search {
    position: absolute;
    right: 2px;
    background-color: gray;
    height: 45px;
    width: 50px;
    text-align: center;
    margin-top: 11px;
    padding-top: 15px;
    color: white;
}

.container-fluid.header1 {
    background-color: white;
}

h4.copyright1 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

a.a1 {
    color: white;
    margin-left: 8px;
    font-family: 'sairamedium';
}

.footer11 .tencty {
    margin-bottom: 20px;
    font-family: 'sairamedium';
    font-size: 20px;
}

img.logofooter {
    margin-left: 106px;
}

.footer1 {
    margin-top: 15px;
    background-color: #383745;
}

.footer {
    background-color: #383745;
    color: white;
}

.hrngang {
    margin: 0px;
    border: 1px solid black;
}

#bgadd {
    background-color: gray;
}

.col.col-md-2.col-12.leftmain {
    margin-top: 25px;
}

.ctsp1 {
    color: white;
}

.header .logo img {
    width: 85%;
    margin-top: 20px;
}

.footer11 .logo img {
    width: 70%;
    margin-top: 20px;
}

.add-quantity {
    width: 150px;
    display: inline-block;
    float: left;
    position: relative;
    padding: 0;
    border: none;
    box-shadow: none;
    height: 45px;
}

    .add-quantity .btn-quantity {
        font-size: 18px;
        line-height: 37px;
        border: solid 1px #ebebeb;
        display: inline-block;
        width: 40px;
        height: 40px;
        background: #fff;
        float: left;
        color: #222;
        text-align: center;
        padding: 0;
        cursor: pointer;
    }

    .add-quantity .debit {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .add-quantity .credit {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .add-quantity input.number-box {
        margin: 0;
        display: block;
        float: left;
        height: 40px;
        border-right: none;
        border-left: none;
        width: 55px;
        text-align: center;
        box-shadow: none;
        border-radius: 0;
        font-size: 15px;
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
    }

.page-cart {
    padding: 20px 0;
    overflow: hidden;
}

    .page-cart .content-cart > h3 {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 15px;
        font-size: 20px;
    }

    .page-cart .infor-order {
        width: 30%;
        float: right;
    }

        .page-cart .infor-order h3 {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;
            padding-bottom: 18px;
            border-bottom: 1px solid #cccccc;
            margin-bottom: 20px;
            margin-top: 12px;
        }

        .page-cart .infor-order .infor {
            width: 100%;
            float: left;
            padding: 0px 0px 10px;
        }

            .page-cart .infor-order .infor p {
                width: 50%;
                float: left;
                line-height: 25px;
            }

        .page-cart .infor-order .total p {
            font-weight: bold;
        }

        .page-cart .infor-order .infor p:last-child {
            text-align: right;
        }

        .page-cart .infor-order .total p:last-child {
            color: #b20000;
        }

        .page-cart .infor-order a {
            display: block;
            text-align: center;
            background: #b20000;
            height: 40px;
            line-height: 40px;
            float: left;
            width: 100%;
            text-transform: uppercase;
            margin-top: 10px;
            color: #ffffff !important;
            border: 1px solid transparent !important;
            outline: unset;
            border-right: 1px solid #feccf9 !important;
        }

            .page-cart .infor-order a:hover {
                color: #b20000 !important;
                border: 1px solid #b20000 !important;
                background: white !important;
            }

    .page-cart .list-cart {
        width: 69%;
        float: left;
        background-color: #fff;
        padding: 10px;
    }

        .page-cart .list-cart .item-cart {
            width: 100%;
            float: left;
            padding: 20px 0;
            border-bottom: 1px solid #ccc;
        }

            .page-cart .list-cart .item-cart.title {
                border-bottom: 1px solid #ccc;
                padding: 10px 0 15px 0;
            }

            .page-cart .list-cart .item-cart p {
                text-transform: uppercase;
                font-size: 14px;
                text-align: center;
                line-height: 22px;
                font-weight: bold;
                margin: 0;
            }

                .page-cart .list-cart .item-cart p.sku {
                    color: #666;
                    margin: 8px 0;
                    font-size: 14px;
                }

            .page-cart .list-cart .item-cart .name {
                width: 50%;
                float: left;
            }

            .page-cart .list-cart .item-cart .price {
                width: 20%;
                float: left;
                text-align: left;
            }

            .page-cart .list-cart .item-cart .h-number {
                width: 20%;
                float: left;
            }

            .page-cart .list-cart .item-cart .delete {
                width: 10%;
                float: left;
                text-align: center;
            }

            .page-cart .list-cart .item-cart .name img {
                width: 25%;
                float: left;
                margin-right: 1%;
            }

            .page-cart .list-cart .item-cart .name .infor {
                width: 70%;
                float: left;
                margin-left: 10px;
            }

                .page-cart .list-cart .item-cart .name .infor h3 {
                    font-size: 15px;
                    font-weight: bold;
                    margin: 0;
                }

                .page-cart .list-cart .item-cart .name .infor h4 {
                    color: #939393;
                    text-transform: uppercase;
                    font-size: 13px;
                    padding: 5px 0px;
                }

                .page-cart .list-cart .item-cart .name .infor a.add-favourite {
                    color: #b20000;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                }

                    .page-cart .list-cart .item-cart .name .infor a.add-favourite svg {
                        margin-right: 8px;
                    }

                .page-cart .list-cart .item-cart .name .infor h3 > a {
                    color: #777;
                    display: block;
                }

                .page-cart .list-cart .item-cart .name .infor a.js-remove-item {
                    color: #f45042;
                    font-size: 12px;
                }

            .page-cart .list-cart .item-cart .price h3 {
                font-size: 16px;
                color: #b20000;
                margin: 0px 0 5px 0;
                font-weight: 600;
            }

            .page-cart .list-cart .item-cart .price b {
                color: #777;
                font-size: 13px;
                text-decoration: line-through;
            }

            .page-cart .list-cart .item-cart .number span {
                display: inline-block;
                width: 22px;
                height: 22px;
                line-height: 22px;
                font-size: 16px;
                border: 1px solid;
                cursor: pointer;
            }

                .page-cart .list-cart .item-cart .number span.plus {
                    background: #c8c8c8;
                }

            .page-cart .list-cart .item-cart .delete h3 {
                font-size: 18px;
                line-height: 25px;
                cursor: pointer;
            }

    .page-cart .infor-order {
        padding: 10px 20px 20px 20px;
        border: 1px solid #e5e5e5;
        background-color: white;
        box-shadow: 0px 3px 2px -1px #ccc;
    }

.add-quantity .btn-quantity {
    line-height: 30px;
    width: 35px;
    height: 35px;
}

.add-quantity input.number-box {
    height: 35px;
}

.page-cart .js-remove-item {
    font-size: 18px;
    text-align: right;
    color: #b20000;
    padding-left: 22px;
}

@media screen and (max-width: 767px) {
    .page-cart .list-cart, .page-cart .infor-order, .page-cart .list-cart .item-cart .price, .page-cart .list-cart .item-cart .add-quantity {
        width: 100%;
    }

    .page-cart .list-cart {
        margin-bottom: 30px;
        padding: 20px 10px 0 10px;
    }

        .page-cart .list-cart .item-cart .name {
            width: 100%;
        }

        .page-cart .list-cart .item-cart.title {
            display: none;
        }

        .page-cart .list-cart .item-cart:last-child {
            border: 0;
        }

        .page-cart .list-cart .item-cart .price {
            margin: 15px 0;
        }

            .page-cart .list-cart .item-cart .price h3 {
                display: inline-block;
                margin-right: 15px;
            }

        .page-cart .list-cart .item-cart {
            padding: 30px 15px;
            position: relative;
        }

    .page-cart .js-remove-item {
        position: absolute;
        top: 0;
        right: 0;
    }
}

input#quantity {
    width: 60px;
    text-align: center;
}

.ght {
    width: 30px;
    margin: -5px;
}

.btnwhite a {
    color: white;
}


.hrngang {
    margin: 0px;
    border: 1px solid black;
}

#bgadd {
    background-color: gray;
}

.col.col-md-2.col-12.leftmain {
    margin-top: 25px;
}

.ctsp1 {
    color: white;
}

.header .logo img {
    width: 85%;
    margin-top: 20px;
}

.footer11 .logo img {
    width: 70%;
    margin-top: 20px;
}

.shop_cart {
    color: white;
}

.bntdangnhap {
    color: white;
    position: absolute;
    padding-top: 3px;
}

.anhsp img{
    width:100%;
    height:100%;
}
